<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="15"
    android:versionName="15.0"
    package="com.vzw.apnservice"
    platformBuildVersionCode="21"
    platformBuildVersionName="5.0.1-1624448">
    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="21"/>
    <permission
        android:name="com.vzw.APNPERMISSION"
        android:protectionLevel="signatureOrSystem"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.vzw.APNPERMISSION"/>
    <uses-permission android:name="android.permission.CONNECTIVITY_INTERNAL"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.verizon.vzwavs.permission.READ"/>
    <application
        android:label="@string/app_name"
        android:allowBackup="true">
        <service android:name="com.vzw.apnservice.VZWAPNService">
            <intent-filter>
                <action android:name="com.vzw.apnservice"/>
            </intent-filter>
        </service>
        <service
            android:name="com.vzw.apnservice.VZWAPNServiceNew"
            android:exported="true">
            <intent-filter>
                <action android:name="com.vzw.apnservicenew"/>
            </intent-filter>
        </service>
        <meta-data
            android:name="com.verizon.VZWAPPAPN"
            android:value="1"/>
    </application>
</manifest>
