# Copyright (C) 2013 Marvell,Inc.
#
# Power configuration common for all marvell pxa1928 devices
#

on init
    #for power hal
    chown system system /sys/devices/platform/mmp-fb/power/control
    chown system system /sys/bus/i2c/devices/4-0048/power/control
    chown system system /sys/devices/platform/soc.1/d4200000.axi/fbbase.2/power/control
    chown system system /sys/devices/platform/soc.1/d4200000.axi/d427f000.vdma/power/control
    chown system system /sys/devices/platform/soc.1/d4200000.axi/d420b000.disp/power/control

on post-fs-data
    #for PowerDaemon
    #cpu
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_setspeed
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
    chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
    chmod 0444 /sys/devices/system/cpu/cpu0/cpufreq/cpuinfo_cur_freq

    #hotplug
    chown system system /sys/devices/system/cpu/hotplug/bound_freq
    chown system system /sys/devices/system/cpu/hotplug/load_h0
    chown system system /sys/devices/system/cpu/hotplug/load_h1
    chown system system /sys/devices/system/cpu/hotplug/load_h2
    chown system system /sys/devices/system/cpu/hotplug/load_l1
    chown system system /sys/devices/system/cpu/hotplug/load_l2
    chown system system /sys/devices/system/cpu/hotplug/load_l3
    chown system system /sys/devices/system/cpu/hotplug/lock
    chown system system /sys/devices/system/cpu/cpu1/online
    chown system system /sys/devices/system/cpu/cpu2/online
    chown system system /sys/devices/system/cpu/cpu3/online

    chmod 0644 /sys/devices/system/cpu/hotplug/bound_freq
    chmod 0644 /sys/devices/system/cpu/hotplug/load_h0
    chmod 0644 /sys/devices/system/cpu/hotplug/load_h1
    chmod 0644 /sys/devices/system/cpu/hotplug/load_h2
    chmod 0644 /sys/devices/system/cpu/hotplug/load_l1
    chmod 0644 /sys/devices/system/cpu/hotplug/load_l2
    chmod 0644 /sys/devices/system/cpu/hotplug/load_l3
    chmod 0644 /sys/devices/system/cpu/hotplug/lock
    chmod 0644 /sys/devices/system/cpu/cpu1/online
    chmod 0644 /sys/devices/system/cpu/cpu2/online
    chmod 0644 /sys/devices/system/cpu/cpu3/online

    #ddr
    chown system system /sys/class/devfreq/devfreq-ddr/polling_interval
    chown system system /sys/class/devfreq/devfreq-ddr/min_freq
    chown system system /sys/class/devfreq/devfreq-ddr/max_freq
    chown system system /sys/class/devfreq/devfreq-ddr/governor
    chown system system /sys/class/devfreq/devfreq-ddr/ddr_freq

    #vpu
    chown system system /sys/class/devfreq/devfreq-vpu.0/userspace/set_freq
    chown system system /sys/class/devfreq/devfreq-vpu.0/min_freq
    chown system system /sys/class/devfreq/devfreq-vpu.0/max_freq
    chown system system /sys/class/devfreq/devfreq-vpu.0/governor
    chown system system /sys/class/devfreq/devfreq-vpu.0/cur_freq
    chown system system /sys/class/devfreq/devfreq-vpu.1/userspace/set_freq
    chown system system /sys/class/devfreq/devfreq-vpu.1/min_freq
    chown system system /sys/class/devfreq/devfreq-vpu.1/max_freq
    chown system system /sys/class/devfreq/devfreq-vpu.1/governor
    chown system system /sys/class/devfreq/devfreq-vpu.1/cur_freq

    #gpu
    chown system system /sys/devices/platform/galcore/gpu/gpu0/gpufreq/scaling_governor
    chown system system /sys/devices/platform/galcore/gpu/gpu0/gpufreq/scaling_min_freq
    chown system system /sys/devices/platform/galcore/gpu/gpu0/gpufreq/scaling_max_freq
    chown system system /sys/devices/platform/galcore/gpu/gpu1/gpufreq/scaling_governor
    chown system system /sys/devices/platform/galcore/gpu/gpu1/gpufreq/scaling_min_freq
    chown system system /sys/devices/platform/galcore/gpu/gpu1/gpufreq/scaling_max_freq
    chown system system /sys/devices/platform/galcore/gpu/gpu2/gpufreq/scaling_governor
    chown system system /sys/devices/platform/galcore/gpu/gpu2/gpufreq/scaling_min_freq
    chown system system /sys/devices/platform/galcore/gpu/gpu2/gpufreq/scaling_max_freq

    #Power Meter: for duty cycle profiling
    chown system system /sys/kernel/debug/pxa/stat/cpu_dc_stat
    chown system system /sys/kernel/debug/pxa/stat/ddr_dc_stat
    chown system system /sys/kernel/debug/pxa/stat/gc2d_core0_dc_stat
    chown system system /sys/devices/platform/galcore/gpu/gpu1/gpufreq/scaling_max_freq
    chown system system /sys/devices/platform/galcore/gpu/gpu2/gpufreq/scaling_governor
    chown system system /sys/devices/platform/galcore/gpu/gpu2/gpufreq/scaling_min_freq
    chown system system /sys/devices/platform/galcore/gpu/gpu2/gpufreq/scaling_max_freq

    # hotplug
    chown system system /sys/devices/system/cpu/cpunum_qos/min_core_num
    chown system system /sys/devices/system/cpu/cpunum_qos/max_core_num

    #keypad wakeup source
    chown system system /sys/devices/platform/soc.2/d4000000.apb/pxa27x-keypad/power/wakeup
    chown system system /sys/devices/platform/soc.1/d4000000.apb/pxa27x-keypad/power/wakeup

service phservice /system/bin/phservice
    class main
    user system
    group system

