import /init.tel.rc

on init
    # set CP master or slave
    setprop persist.radio.pcmmaster 0

on fs
# mount emmc partitions

    # create directory for NVM data, and mount nvm partition on it
    mkdir /NVM 0744 system system

    # for e2fsck bad block of /NVM partition before mount
    exec /system/bin/e2fsck -vy /dev/block/platform/soc.1/by-name/NVM

    mount ext4 /dev/block/platform/soc.1/by-name/NVM /NVM nosuid nodev nodelalloc,noauto_da_alloc
    chown system system /NVM
    chmod 0775 /NVM

    # for log capture
    mkdir /data/log/Mlog 0775 system radio
    chown radio shell /data/log/Mlog
    chmod 0775 /data/log/Mlog

on post-fs-data
    # for simal
    mkdir /data/misc/simal 0777 wifi system
    chmod 0777 /data/misc/simal

service simal /system/bin/simal
    class main
    user wifi
    group system

service marvelltel /system/bin/tel_launch.sh
    class main
    oneshot
    group system

service imsc /system/bin/imsd
    class main
    socket imsd 0666 root system
    user root
    group system net_admin inet net_raw
    disabled
    oneshot

on property:persist.service.stonelog.start=1
    start stonelog

service stonelog /system/bin/stonelog
    class main
    user root
    group system
    disabled
