import /init.pxa1928.security.rc
import /init.pxa1928.usb.rc
#import /init_bsp.pxa1928.tel.rc

on early-init
    write /proc/1/oom_score_adj -1000 # kernels >= 2.6.36
    mount debugfs debugfs /sys/kernel/debug
    export EXTERNAL_STORAGE /mnt/sdcard
    mkdir /mnt/sdcard 0000 system system
    mkdir /mnt/external_sdcard 0000 system system
    # for backwards compatibility
    symlink /mnt/sdcard /sdcard

on init
    #force set ddr @~500MHz
#    write /sys/class/devfreq/devfreq-ddr/device/disable_ddr_fc 1
#    write /sys/class/devfreq/devfreq-ddr/device/ddr_freq 500000

    # pioritize the modules with the suffix of mrvl
    setprop ro.board.platform mrvl

    setprop wifi.interface wlan0
    setprop wifidirect.interface p2p0
    # Set this property so AdvancedWifiSettings would show the checkbox
    # for Enable/Disable Active Roaming
    setprop ro.wifi.active_roaming.enable true

    # for control LCD backlight
    chown system system /sys/class/backlight/lcd-bl/brightness

    # for sd8xxx wifi and bluetooth power
    chown system system /sys/class/rfkill/rfkill0/state
    chown system system /sys/class/rfkill/rfkill1/state

    chown system system /sys/class/graphics/fb0/device/vsync
    chmod 0660 /sys/class/graphics/fb0/device/vsync

    # sysclk
    chown system system /proc/driver/sspa_sysclk
    chmod 0666 /proc/driver/sspa_sysclk

    # master/slave
    chown system system /sys/devices/platform/sound/ssp_master
    chmod 0666 /sys/devices/platform/sound/ssp_master

    chown system system /sys/devices/platform/sound/gssp_master
    chmod 0666 /sys/devices/platform/sound/gssp_master

    #set ap as master, codec/BT as slave
    setprop persist.audio.apmaster 0
    setprop persist.audio.gsspmaster 0
    setprop persist.audio.codecmaster 1
    setprop persist.bt.pcmmaster 0

    # set CP master or slave
    setprop persist.radio.pcmmaster 0

    # enable camera ZSL feature
    setprop service.camera.zsl_mask 1

    # enable camera mmu
    setprop service.camera.isp.mmu 1

    chown system system /sys/devices/platform/mmp-gps/ctrl

on fs
    mount_all /fstab.pxa1928

    # create /tmp directory
    mkdir /tmp 0700 system system
    mount tmpfs tmpfs /tmp mode=0700,uid=1000,gid=1000

on post-fs
    # security modules have to be inserted/executed first
    # before touching any partitions besides the root partition
    #insmod /lib/modules/mv_wtm_prim.ko
    #insmod /lib/modules/mv_wtm_drv.ko

    # exec a command here (e.g., file verification)
    #exec /sbin/aa

    # From here, we are touching the system partition
    #insmod /lib/modules/mv_wtm_lca.ko

    insmod /system/lib/modules/galcore.ko registerMemBase=0xd420d000 irqLine=113 registerMemBase2D=0xd420f000 irqLine2D=114 contiguousSize=0x2000000 pmemSize=0 showArgs=1

on post-fs-data
    mkdir /data/misc/wireless 0771 system system
    mkdir /data/misc/wifi 0771 wifi wifi
    mkdir /data/misc/wifi/sockets 0771 wifi wifi
    mkdir /data/misc/wifi/wapi_certs 0777 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    mkdir /data/misc/simal 0770 wifi system
    chmod 0770 /data/misc/simal

    # for log capture
    mkdir /data/log 0775 system shell

    # Audio Dump: for audio data dump
    mkdir /data/log/audio 0775 system audio

    #Audio Calibration: for socket access
    mkdir /data/misc/audio 0750 media system

    # for camera dump
    mkdir /data/log/camera 0775 media shell

    # for NFC
    mkdir /data/nfc 0771 nfc system

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

#Enable persist properties even when vold is not started
    setprop vold.decrypt trigger_load_persist_props

# create filesystem if necessary
service setup_fs /system/bin/setup_fs \
        /dev/block/platform/soc.1/by-name/userdata \
        /dev/block/platform/soc.1/by-name/cache
    class core
    user root
    group root
    oneshot

#tcmd-server
service tcmdd /system/bin/logwrapper /system/bin/tcmd-server
    user root
    class core

service mwirelessd /system/bin/MarvellWirelessDaemon
    class main

# reboot under product
on property:sys.powerctl=*
    powerctl ${sys.powerctl}

