import /init.pxa1928.sensor.rc
import /init.pxa1928.security.rc
import /init.pxa1928.power.rc
import /init.pxa1928.usb.rc
#import /init.pxa1928.tel.rc

on early-init
    write /proc/1/oom_score_adj -1000 # kernels >= 2.6.36
    mount debugfs debugfs /sys/kernel/debug

on init

    # See storage config details at http://source.android.com/tech/storage/
    mkdir /mnt/shell/emulated 0700 shell shell
    mkdir /mnt/shell/emulated/0 0700 shell shell
    mkdir /mnt/media_rw/external 0700 media_rw media_rw
    mkdir /mnt/media_rw/usb 0700 media_rw media_rw

    mkdir /storage/emulated 0555 root root
    mkdir /storage/external 0555 root root
    mkdir /storage/usb      0555 root root

    mkdir /factory 0771 system system

    export EXTERNAL_STORAGE /storage/emulated/legacy
    export SECONDARY_STORAGE /storage/external
    export EMULATED_STORAGE_SOURCE /mnt/shell/emulated
    export EMULATED_STORAGE_TARGET /storage/emulated
    export MEDIA_STORAGE /data/media

    # Support legacy paths
    symlink /storage/emulated/legacy /sdcard
    symlink /storage/emulated/legacy /mnt/sdcard
    symlink /storage/emulated/legacy /storage/sdcard0
    symlink /mnt/shell/emulated/0 /storage/emulated/legacy
    symlink /mnt/shell/emulated/0 /storage/emulated/0

    # pioritize the modules with the suffix of mrvl
    setprop ro.board.platform mrvl

    setprop wifi.interface wlan0
    setprop wifidirect.interface p2p0
    # Set this property so AdvancedWifiSettings would show the checkbox
    # for Enable/Disable Active Roaming
    setprop ro.wifi.active_roaming.enable true

    # for control VX5B1D
    chown system system /sys/class/lcd/vx5b1d/device/vee

    # for control LCD backlight
    chown system system /sys/class/backlight/lcd-bl/brightness
    chown system system /sys/class/backlight/lcd-bl/device/lowbattery

    # for sd8xxx wifi and bluetooth power
    chown system system /sys/class/rfkill/rfkill0/state
    chown system system /sys/class/rfkill/rfkill1/state
    chmod 0660 /sys/devices/platform/sd8x-rfkill/pwr_ctrl
    chown system system /sys/devices/platform/sd8x-rfkill/pwr_ctrl

    setprop persist.sys.display.format 1

    chown system system /sys/class/graphics/fb0/device/vsync
    chmod 0660 /sys/class/graphics/fb0/device/vsync

    # sysclk
    chown system system /proc/driver/sspa_sysclk
    chmod 0666 /proc/driver/sspa_sysclk

    # master/slave
    chown system system /sys/devices/platform/sound/ssp_master
    chmod 0666 /sys/devices/platform/sound/ssp_master

    chown system system /sys/devices/platform/sound/gssp_master
    chmod 0666 /sys/devices/platform/sound/gssp_master

    #set ap as master, codec/BT as slave
    setprop persist.audio.apmaster 0
    setprop persist.audio.gsspmaster 0
    setprop persist.audio.codecmaster 1
    setprop persist.bt.pcmmaster 0

    # set CP master or slave
    setprop persist.radio.pcmmaster 0

    chown system system /sys/devices/platform/mmp-gps/ctrl
    # enable camera ZSL feature
    setprop service.camera.zsl_mask 1
    # enable camera isp mmu
    setprop service.camera.isp.mmu 1

	# set LCD density
	setprop ro.sf.lcd_density 160

    #Touch Panel Device
    chown system system /dev/ts
    chmod 644 /dev/ts

on fs
    mount_all /fstab.pxa1928

    setprop ro.crypto.fuse_sdcard true

    # create /tmp directory
    mkdir /tmp 0700 system system
    mount tmpfs tmpfs /tmp mode=0700,uid=1000,gid=1000

    #Touch Panel Calibration Data
    chown system system /factory/calibration
    chmod 644 /factory/calibration

on post-fs
    # security modules have to be inserted/executed first
    # before touching any partitions besides the root partition
    #insmod /lib/modules/mv_wtm_prim.ko
    #insmod /lib/modules/mv_wtm_drv.ko

    # exec a command here (e.g., file verification)
    #exec /sbin/aa

    #gpu
    chown system system /sys/devices/platform/galcore/gpu/gpu0/gpufreq/scaling_governor
    chown system system /sys/devices/platform/galcore/gpu/gpu0/gpufreq/scaling_min_freq
    chown system system /sys/devices/platform/galcore/gpu/gpu0/gpufreq/scaling_max_freq
    chown system system /sys/devices/platform/galcore/gpu/gpu1/gpufreq/scaling_governor
    chown system system /sys/devices/platform/galcore/gpu/gpu1/gpufreq/scaling_min_freq
    chown system system /sys/devices/platform/galcore/gpu/gpu1/gpufreq/scaling_max_freq
    chown system system /sys/devices/platform/galcore/gpu/gpu2/gpufreq/scaling_governor
    chown system system /sys/devices/platform/galcore/gpu/gpu2/gpufreq/scaling_min_freq
    chown system system /sys/devices/platform/galcore/gpu/gpu2/gpufreq/scaling_max_freq

    # hotplug
    chown system system /sys/devices/system/cpu/cpunum_qos/min_core_num
    chown system system /sys/devices/system/cpu/cpunum_qos/max_core_num

    # From here, we are touching the system partition
    #insmod /lib/modules/mv_wtm_lca.ko
    insmod /system/lib/modules/galcore.ko registerMemBase=0xd420d000 irqLine=113 registerMemBase2D=0xd420f000 irqLine2D=114 contiguousSize=0x2000000 pmemSize=0 showArgs=1

    #factory
    chown system system /factory
    chmod 0770 /factory

    #apk log
    mkdir /factory/log 0776 system system

on post-fs-data
    mkdir /data/misc/wireless 0771 system system
    mkdir /data/misc/wifi 0771 wifi wifi
    mkdir /data/misc/wifi/sockets 0771 wifi wifi
    mkdir /data/misc/wifi/wapi_certs 0777 wifi wifi
    mkdir /data/misc/dhcp 0770 dhcp dhcp
    mkdir /data/misc/simal 0770 wifi system
    chmod 0770 /data/misc/simal

    # for log capture
    mkdir /data/log 0775 system shell

    # Audio Dump: for audio data dump
    mkdir /data/log/audio 0775 system audio

    # for camera dump
    mkdir /data/log/camera 0775 media shell

    #Audio Calibration: for socket access
    mkdir /data/misc/audio 0750 media system

    # for NFC
#    mkdir /data/nfc 0771 nfc system

    #Power Meter/E-Probe: for duty cycle profiling
    chown system system /sys/kernel/debug/pxa/stat/cpu_dc_stat
    chown system system /sys/kernel/debug/pxa/stat/ddr_dc_stat
    chown system system /sys/kernel/debug/pxa/stat/gc2d_core0_dc_stat
    chown system system /sys/kernel/debug/pxa/stat/gc3d_core0_dc_stat
    chown system system /sys/kernel/debug/pxa/stat/gcsh_core0_dc_stat
    chown system system /sys/kernel/debug/pxa/stat/vpu_dc_stat
    chown system system /sys/kernel/debug/pxa/vlstat/vol_dc_stat
    chown system system /sys/class/devfreq/devfreq-ddr/device/ddr_profiling

    chmod 0664 /sys/kernel/debug/pxa/vlstat/vol_dc_stat

    # Set indication (checked by vold) that we have finished this action
    setprop vold.post_fs_data_done 1

# virtual sdcard daemon running as media_rw (1023)
service sdcard /system/bin/sdcard -u 1023 -g 1023 -l /data/media /mnt/shell/emulated
    class late_start

service fuse_external /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/external /storage/external
    class late_start
    disabled

service fuse_usb /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usb /storage/usb
    class late_start
    disabled

#service simal /system/bin/simal
#    class late_start
#    user wifi
#    group system

# we will start as root and wpa_supplicant will switch to user wifi
# after setting up the capabilities required for WEXT
service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

# we will start as root and wpa_supplicant will switch to user wifi
# after setting up the capabilities required for WEXT
service p2p_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -O/data/misc/wifi/sockets \
    -puse_multi_chan_concurrent=1 -N -ip2p0 -Dnl80211 \
    -c/data/misc/wifi/p2p_supplicant.conf \
    -I/system/etc/wifi/p2p_supplicant_overlay.conf \
    -puse_p2p_group_interface=1use_multi_chan_concurrent=1 \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class main
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

# hostapd
service hostapd /system/bin/hostapd -e/data/misc/wifi/entropy.bin /data/misc/wifi/hostapd.conf
    class main
    disabled
    oneshot

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service dhcpcd_eth0 /system/bin/dhcpcd -ABKL
    class main
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service iprenew_eth0 /system/bin/dhcpcd -n
    class main
    disabled
    oneshot

service mlan2040coex /system/bin/mlan2040coex -i wlan0
    class main
    disabled

service mlan_init /system/bin/sh /res/wifi/mlaninit.sh
    class main
    disabled
    oneshot

service mlan_init_8801 /system/bin/sh /res/wifi/mlaninit_8801.sh
    class main
    disabled
    oneshot

# TouchPannel Calibration set
service calibinit /system/bin/calibinit.sh
    class main
    oneshot

# init.rc does not yet support applying capabilities, so run as root and
# let wireless daemon drop uid to system with the right linux capabilities
service mwirelessd /system/bin/MarvellWirelessDaemon
    class late_start

#service tracklib-app /system/bin/TrackLibApp
#    class main
#    user root
#    group root

# Enable VNC service
service vncserver /system/bin/logwrapper /system/bin/androidvncserver
    class core
    disabled

# create filesystem if necessary
service setup_fs /system/bin/setup_fs \
        /dev/block/platform/soc.1/by-name/userdata \
        /dev/block/platform/soc.1/by-name/cache
    class core
    user root
    group root
    oneshot

#service mned /system/bin/MarvellNfcExtensionsDaemon
#    class main
#    user nfc
#    group nfc

# init.rc does not yet support applying capabilities, so run as root and
# let FMRadioServer drop uid to system with the right linux capabilities
#service FMRadiod /system/bin/FMRadioServer
#    class late_start

on property:ro.config.low_ram=true
    # Enable KSM
    write /sys/kernel/mm/ksm/pages_to_scan 100
    write /sys/kernel/mm/ksm/sleep_millisecs 500
    write /sys/kernel/mm/ksm/run 1

    # Config swap page cluster size to 1 page for zRAM
    write /proc/sys/vm/page-cluster 0

    # Enable zRAM swap
    swapon_all /fstab.pxa1928

    # Enable RTCC
    chown system system /sys/module/rtcc/parameters/trigger
    write /sys/module/rtcc/parameters/boost_duration 120
    write /sys/module/rtcc/parameters/enable 1

on property:ro.boot.low_ram=true
    # Android framework needs default property set
    setprop ro.config.low_ram true

service codecIPC_server /system/bin/codecIPC_server
    class main
    user media
    group audio camera inet net_bt net_bt_admin net_bw_acct drmrpc mediadrm
    ioprio rt 4

on property:sys.boot_completed=1
    # 1. due to emmc calibration, kernel disable touch input by default.
    # enable it, when boot completed.
    # 2. enable ddr polling interval as 50, remove from phservice
    # write /sys/kernel/debug/inputbst_enable 1
    write /sys/class/devfreq/devfreq-ddr/polling_interval 50
    start kinitlog

service kinitlog /system/bin/kinitlog.sh
    class main
    user root
    group root
    oneshot
    disabled
