on boot
	chown root input /sys/bus/i2c/devices/1-001c/enable_device
	chmod 0660 /sys/bus/i2c/devices/1-001c/enable_device
	chown root input /sys/bus/i2c/devices/1-001c/pollrate_ms
	chmod 0660 /sys/bus/i2c/devices/1-001c/pollrate_ms
	chown root input /sys/bus/i2c/devices/1-006a/accelerometer/enable_device
	chmod 0660 /sys/bus/i2c/devices/1-006a/accelerometer/enable_device
	chown root input /sys/bus/i2c/devices/1-006a/accelerometer/pollrate_ms
	chmod 0660 /sys/bus/i2c/devices/1-006a/accelerometer/pollrate_ms
	chown root input /sys/bus/i2c/devices/1-006a/accelerometer/fifo
	chmod 0660 /sys/bus/i2c/devices/1-006a/accelerometer/fifo
	chown system input /dev/lsm9ds1
	chmod 0660 /dev/lsm9ds1
	chown system input /dev/lsm9ds1_gyr
	chmod 0660 /dev/lsm9ds1_gyr
	chown root input /sys/bus/i2c/devices/1-006a/gyroscope/enable_device
	chmod 0660 /sys/bus/i2c/devices/1-006a/gyroscope/enable_device
	chown root input /sys/bus/i2c/devices/1-006a/gyroscope/pollrate_ms
	chmod 0660 /sys/bus/i2c/devices/1-006a/gyroscope/pollrate_ms
	chown root input /sys/bus/i2c/devices/i2c-3/3-0044/mode
	chmod 0660 /sys/bus/i2c/devices/i2c-3/3-0044/mode
	chown root input /sys/bus/i2c/devices/i2c-3/3-0044/range
	chmod 0660 /sys/bus/i2c/devices/i2c-3/3-0044/range
	chown root input /sys/bus/i2c/devices/i2c-3/3-0044/lux
	chmod 0660 /sys/bus/i2c/devices/i2c-3/3-0044/lux
	chown root input /sys/bus/i2c/devices/i2c-3/3-0044/int_lt_lux
	chmod 0660 /sys/bus/i2c/devices/i2c-3/3-0044/int_lt_lux
	chown root input /sys/bus/i2c/devices/i2c-3/3-0044/int_ht_lux
	chmod 0660 /sys/bus/i2c/devices/i2c-3/3-0044/int_ht_lux

	chown system input /dev/mma8x5x
	chmod 0660 /dev/mma8x5x
