# MTK project .rc configure

import init.mt8167.usb.rc

on init
    mount tmpfs tmpfs /mnt/media_rw/ mode=0755,uid=1000,gid=1000
    mkdir /mnt/media_rw/usbotg 0700 media_rw media_rw
    mkdir /storage/usbotg 0700 root root
    mount tmpfs tmpfs /storage/usbotg mode=0755,uid=1000,gid=1000

on post-fs
    chown system system /factory
    chmod 0775 /factory
    restorecon_recursive /factory
    chown system system /factory/calibration
    chown system system /factory/calibration.factory
    mkdir /factory/mode 0751 system system
    mkdir /factory/log 0776 system system
    mkdir /factory/anrlog 0777 system system
    restorecon_recursive /factory

on post-fs-data    
    chmod 0644 /factory/dcha_hash












#Define device for ATCID
    chmod 660 /dev/ttyGS0
    chown system /dev/ttyGS0
    chmod 660 /dev/ttyGS1
    chown system /dev/ttyGS1





on init
    # Refer to http://source.android.com/devices/tech/storage/index.html
    # It said, "Starting in Android 4.4, multiple external storage devices are surfaced to developers through
    #           Context.getExternalFilesDirs(), Context.getExternalCacheDirs(), and Context.getObbDirs().
    #           External storage devices surfaced through these APIs must be a semi-permanent part of the device (such as an SD card slot in a battery compartment).
    #           Developers expect data stored in these locations to be available over long periods of time."
    # Therefore, if the target doesn't support sd hot-plugging (Ex: the SD card slot in a battery compartment), we need to export SECONDARY_STORAGE in 'boot' section
    #
export SECONDARY_STORAGE /storage/sdcard1

service fuse_usbotg /system/bin/sdcard -u 1023 -g 1023 -w 1023 -d /mnt/media_rw/usbotg /storage/usbotg
    class late_start
    disabled


service atci_service /vendor/bin/atci_service
	socket atci-service stream 660 radio system
	socket atci-serv-fw stream 660 radio system
	user root
        disabled
	group radio system
service atcid-daemon-u /vendor/bin/atcid
	user system
	group radio system media
	disabled
	oneshot

service atcid-daemon-e /vendor/bin/atcid
	user root
	group radio system
	disabled
	oneshot

on early_property:ro.build.type=eng
start atci_service
start atcid-daemon-e
service audio-daemon /vendor/bin/audiocmdservice_atci
    class main
    socket atci-audio stream 660 media system
    user media
    group nvram media system sdcard_rw
    disabled
    oneshot

#Ethernet DHCP Service
service dhcpcd_eth0 /system/bin/dhcpcd -BK -dd
    class main
    user dhcp
    group net_admin net_raw
    disabled
    oneshot

on boot
# TouchPannel Calibration set
	exec /system/bin/ts_calibrator
    #Touch Panel Device
    chown system system /dev/ts
    chmod 644 /dev/ts
