import /init.tel.rc

on init
    # set CP master or slave
    setprop persist.radio.pcmmaster 0

on fs
# mount emmc partitions

    # create directory for NVM data, and mount nvm partition on it
    mkdir /NVM 0744 system system

    # for e2fsck bad block of /NVM partition before mount
    exec /system/bin/e2fsck -vy /dev/block/platform/soc.1/by-name/NVM

    mount ext4 /dev/block/platform/soc.1/by-name/NVM /NVM nosuid nodev nodelalloc,noauto_da_alloc
    chown system system /NVM
    chmod 0775 /NVM

    # for log capture
    mkdir /data/log/Mlog 0775 system radio
    chown radio shell /data/log/Mlog
    chmod 0775 /data/log/Mlog

service marvelltel /system/bin/tel_launch_no_gui.sh
    class main
    oneshot
    group system
