<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="22"
    android:versionName="5.1-01.16.000.20191209.162107"
    package="com.android.vpndialogs"
    platformBuildVersionCode="22"
    platformBuildVersionName="5.1-01.16.000.20191209.162107">
    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="22"/>
    <uses-permission android:name="android.permission.CONTROL_VPN"/>
    <application
        android:label="VpnDialogs"
        android:allowBackup="false">
        <activity
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.Alert"
            android:name="com.android.vpndialogs.ConfirmDialog">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog.Alert"
            android:name="com.android.vpndialogs.ManageDialog"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
