<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:androidprv="http://schemas.android.com/apk/prv/res/android" xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
    android:versionCode="22"
    android:versionName="5.1-01.16.000.20191209.162107"
    package="com.android.server.telecom"
    coreApp="true"
    platformBuildVersionCode="22"
    platformBuildVersionName="5.1-01.16.000.20191209.162107">
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CALL_PRIVILEGED"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.BIND_CONNECTION_SERVICE"/>
    <uses-permission android:name="android.permission.BIND_INCALL_SERVICE"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.BROADCAST_CALLLOG_INFO"/>
    <permission
        android:label="Broadcast the call type/duration information"
        android:name="android.permission.BROADCAST_CALLLOG_INFO"
        android:protectionLevel="system|signature"/>
    <permission
        android:label="Register to handle the broadcasted call type/duration information"
        android:name="android.permission.PROCESS_CALLLOG_INFO"
        android:protectionLevel="system|signature"/>
    <uses-sdk
        android:minSdkVersion="19"
        android:targetSdkVersion="22"/>
    <application
        android:label="@string/telecommAppLabel"
        android:icon="@mipmap/ic_launcher_phone"
        android:process="system"
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity
            android:theme="@style/Theme.Telecomm.Transparent"
            android:name="CallActivity"
            android:permission="android.permission.CALL_PHONE"
            android:process=":ui"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.CALL"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="tel"/>
            </intent-filter>
            <intent-filter android:icon="@drawable/ic_launcher_sip_call">
                <action android:name="android.intent.action.CALL"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sip"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CALL"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="voicemail"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CALL"/>
                <data android:mimeType="vnd.android.cursor.item/phone"/>
                <data android:mimeType="vnd.android.cursor.item/phone_v2"/>
                <data android:mimeType="vnd.android.cursor.item/person"/>
            </intent-filter>
        </activity>
        <activity-alias
            android:name="PrivilegedCallActivity"
            android:permission="android.permission.CALL_PRIVILEGED"
            android:process=":ui"
            android:targetActivity="CallActivity">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.CALL_PRIVILEGED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="tel"/>
            </intent-filter>
            <intent-filter
                android:icon="@drawable/ic_launcher_sip_call"
                android:priority="1000">
                <action android:name="android.intent.action.CALL_PRIVILEGED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sip"/>
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.CALL_PRIVILEGED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="voicemail"/>
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.CALL_PRIVILEGED"/>
                <data android:mimeType="vnd.android.cursor.item/phone"/>
                <data android:mimeType="vnd.android.cursor.item/phone_v2"/>
                <data android:mimeType="vnd.android.cursor.item/person"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="EmergencyCallActivity"
            android:permission="android.permission.CALL_PRIVILEGED"
            android:process=":ui"
            android:targetActivity="CallActivity">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.CALL_EMERGENCY"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="tel"/>
            </intent-filter>
            <intent-filter
                android:icon="@drawable/ic_launcher_sip_call"
                android:priority="1000">
                <action android:name="android.intent.action.CALL_EMERGENCY"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sip"/>
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.CALL_EMERGENCY"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="voicemail"/>
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.CALL_EMERGENCY"/>
                <data android:mimeType="vnd.android.cursor.item/phone"/>
                <data android:mimeType="vnd.android.cursor.item/phone_v2"/>
                <data android:mimeType="vnd.android.cursor.item/person"/>
            </intent-filter>
        </activity-alias>
        <receiver
            android:name="TelecomBroadcastReceiver"
            android:exported="false"
            android:process="system">
            <intent-filter>
                <action android:name="com.android.server.telecom.ACTION_CALL_BACK_FROM_NOTIFICATION"/>
                <action android:name="com.android.server.telecom.ACTION_CALL_BACK_FROM_NOTIFICATION"/>
                <action android:name="com.android.server.telecom.ACTION_SEND_SMS_FROM_NOTIFICATION"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name="PhoneAccountBroadcastReceiver"
            android:process="system">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@style/Theme.Telecom.DialerSettings"
            android:label="@string/respond_via_sms_setting_title"
            android:name="com.android.server.telecom.RespondViaSmsSettings.Settings"
            android:process=":ui"
            android:configChanges="screenSize|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/Theme.Telecomm.Transparent"
            android:name="com.android.server.telecom.ErrorDialogActivity"
            android:process=":ui"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <receiver
            android:name="com.android.server.telecom.CallReceiver"
            android:permission="android.permission.MODIFY_PHONE_STATE"
            android:exported="true"
            android:process="system"/>
        <service
            android:name="BluetoothPhoneService"
            android:process="system"
            android:singleUser="true">
            <intent-filter>
                <action android:name="android.bluetooth.IBluetoothHeadsetPhone"/>
            </intent-filter>
        </service>
        <service
            android:name="com.android.server.telecom.TelecomService"
            android:process="system"
            android:singleUser="true">
            <intent-filter>
                <android android:name="android.telecom.ITelecomService"/>
            </intent-filter>
        </service>
    </application>
</manifest>
