<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.system"
    android:versionCode="22"
    android:versionName="5.1.1-eng.pengzhj.20150824.175924"
    package="com.marvell.powergadget"
    platformBuildVersionCode="22"
    platformBuildVersionName="5.1.1-eng.pengzhj.20150619.125658">
    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="22"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.SHUTDOWN"/>
    <application android:persistent="true">
        <service android:name="com.marvell.powergadget.eventrelay.EventRelay">
            <intent-filter>
                <action android:name="com.marvell.powergadget.eventrelay.EventRelay"/>
            </intent-filter>
        </service>
        <service android:name="com.marvell.powergadget.thermal.ThermalService">
            <intent-filter>
                <action android:name="com.marvell.powergadget.thermal.ThermalService"/>
            </intent-filter>
        </service>
        <receiver
            android:name="StartupReceiver"
            android:priority="1">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>
</manifest>
