<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:androidprv="http://schemas.android.com/apk/prv/res/android" xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="22"
    android:versionName="5.1-01.16.000.20191209.162107"
    package="com.android.proxyhandler"
    coreApp="true"
    platformBuildVersionCode="22"
    platformBuildVersionName="5.1-01.16.000.20191209.162107">
    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="22"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:label="@string/app_label"
        android:process="com.android.proxyhandler">
        <service
            android:name="com.android.proxyhandler.ProxyService"
            android:exported="true"/>
    </application>
</manifest>
