<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0"
    coreApp="true"
    package="jp.co.omronsoft.wnnext.skin.standard_old"
    platformBuildVersionCode="17"
    platformBuildVersionName="4.2.2-1425461">
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <application
        android:label="@string/app_name"
        android:icon="@drawable/keyimage_skin_icon">
        <activity
            android:label="@string/app_label"
            android:icon="@drawable/keyimage_skin_icon"
            android:name="jp.co.omronsoft.wnnext.skin.standard_old.WnnKBDSkin_standard_old">
            <intent-filter>
                <action android:name="jp.co.omronsoft.wnnext.ADD_SKIN"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="appcnt"
            android:value="2"/>
        <meta-data
            android:name="settingfile1"
            android:resource="@drawable/keyimage_keyboard_setting_v23"/>
        <meta-data
            android:name="settingfile2"
            android:resource="@drawable/keyimage_keyboard_setting_v24"/>
        <activity
            android:label="@string/app_label_v24"
            android:icon="@drawable/keyimage_skin_icon"
            android:name="jp.co.omronsoft.wnnext.skin.standard_old.WnnKBDSkin_standard_old">
            <meta-data
                android:name="settingfile"
                android:resource="@drawable/keyimage_keyboard_setting_v24"/>
            <intent-filter>
                <action android:name="jp.co.omronsoft.wnnext.ADD_SKIN2"/>
            </intent-filter>
        </activity>
    </application>
    <uses-sdk android:minSdkVersion="14"/>
</manifest>
