<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="22"
    android:versionName="5.1-02.04.000.20191125.213021"
    package="com.android.provision"
    platformBuildVersionCode="22"
    platformBuildVersionName="5.1-02.04.000.20191125.213021">
    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="22"/>
    <original-package android:name="com.android.provision"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <application>
        <activity
            android:name="DefaultActivity"
            android:excludeFromRecents="true">
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
