<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="22"
    android:versionName="5.1-02.04.000.20191125.213021"
    package="com.android.wallpaper"
    platformBuildVersionCode="22"
    platformBuildVersionName="5.1-02.04.000.20191125.213021">
    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="22"/>
    <original-package android:name="com.android.wallpaper"/>
    <uses-feature android:name="android.software.live_wallpaper"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:label="@string/wallpapers"
        android:icon="@drawable/ic_launcher_wallpaper">
        <activity
            android:theme="@android:style/Theme"
            android:label="@string/clock_settings"
            android:name="com.android.wallpaper.polarclock.PolarClockSettings"
            android:enabled="@bool/config_enable_polar_clock_wallpaper"
            android:exported="true"/>
        <service
            android:label="@string/wallpaper_clock"
            android:name="com.android.wallpaper.polarclock.PolarClockWallpaper"
            android:permission="android.permission.BIND_WALLPAPER"
            android:enabled="@bool/config_enable_polar_clock_wallpaper">
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/polar_clock"/>
        </service>
    </application>
</manifest>
