<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:androidprv="http://schemas.android.com/apk/prv/res/android" xmlns:android="http://schemas.android.com/apk/res/android"
    android:sharedUserId="android.uid.phone"
    android:versionCode="22"
    android:versionName="5.1-02.04.000.20191125.213021"
    android:sharedUserLabel="@string/phoneAppLabel"
    package="com.android.phone"
    coreApp="true"
    platformBuildVersionCode="22"
    platformBuildVersionName="5.1-02.04.000.20191125.213021">
    <uses-sdk
        android:minSdkVersion="22"
        android:targetSdkVersion="22"/>
    <original-package android:name="com.android.phone"/>
    <protected-broadcast android:name="android.telecom.action.TTY_PREFERRED_MODE_CHANGED"/>
    <protected-broadcast android:name="android.telecom.action.CURRENT_TTY_MODE_CHANGED"/>
    <protected-broadcast android:name="android.intent.action.SERVICE_STATE"/>
    <protected-broadcast android:name="android.intent.action.RADIO_TECHNOLOGY"/>
    <protected-broadcast android:name="android.intent.action.EMERGENCY_CALLBACK_MODE_CHANGED"/>
    <protected-broadcast android:name="android.intent.action.SIG_STR"/>
    <protected-broadcast android:name="android.intent.action.ANY_DATA_STATE"/>
    <protected-broadcast android:name="android.intent.action.DATA_CONNECTION_FAILED"/>
    <protected-broadcast android:name="android.intent.action.SIM_STATE_CHANGED"/>
    <protected-broadcast android:name="android.intent.action.NETWORK_SET_TIME"/>
    <protected-broadcast android:name="android.intent.action.NETWORK_SET_TIMEZONE"/>
    <protected-broadcast android:name="android.intent.action.ACTION_SHOW_NOTICE_ECM_BLOCK_OTHERS"/>
    <protected-broadcast android:name="android.intent.action.ACTION_MDN_STATE_CHANGED"/>
    <protected-broadcast android:name="android.provider.Telephony.SPN_STRINGS_UPDATED"/>
    <protected-broadcast android:name="android.provider.Telephony.SIM_FULL"/>
    <protected-broadcast android:name="com.android.internal.telephony.data-restart-trysetup"/>
    <protected-broadcast android:name="com.android.internal.telephony.data-stall"/>
    <protected-broadcast android:name="android.intent.action.stk.command"/>
    <protected-broadcast android:name="android.intent.action.stk.session_end"/>
    <protected-broadcast android:name="android.intent.action.stk.icc_status_change"/>
    <protected-broadcast android:name="android.intent.action.stk.alpha_notify"/>
    <uses-permission android:name="android.permission.BROADCAST_STICKY"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.CALL_PRIVILEGED"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.READ_CALL_LOG"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.INTERNAL_SYSTEM_WINDOW"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.REORDER_TASKS"/>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.STATUS_BAR"/>
    <uses-permission android:name="android.permission.READ_SMS"/>
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.SEND_RESPOND_VIA_MESSAGE"/>
    <uses-permission android:name="android.permission.SET_TIME"/>
    <uses-permission android:name="android.permission.SET_TIME_ZONE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"/>
    <uses-permission android:name="android.permission.DEVICE_POWER"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"/>
    <uses-permission android:name="android.permission.BROADCAST_SMS"/>
    <uses-permission android:name="android.permission.BROADCAST_WAP_PUSH"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.SHUTDOWN"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.PERFORM_CDMA_PROVISIONING"/>
    <uses-permission android:name="android.permission.USE_SIP"/>
    <uses-permission android:name="android.permission.REBOOT"/>
    <uses-permission android:name="android.permission.UPDATE_LOCK"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS"/>
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL"/>
    <uses-permission android:name="com.android.smspush.WAPPUSH_MANAGER_BIND"/>
    <uses-permission android:name="android.permission.MANAGE_USERS"/>
    <uses-permission android:name="android.permission.UPDATE_APP_OPS_STATS"/>
    <uses-permission android:name="android.permission.CONNECTIVITY_INTERNAL"/>
    <uses-permission android:name="android.permission.SET_PREFERRED_APPLICATIONS"/>
    <uses-permission android:name="android.permission.READ_SEARCH_INDEXABLES"/>
    <uses-permission android:name="android.permission.DUMP"/>
    <uses-permission android:name="android.permission.REGISTER_CALL_PROVIDER"/>
    <uses-permission android:name="android.permission.REGISTER_SIM_SUBSCRIPTION"/>
    <uses-permission android:name="android.permission.BIND_CARRIER_MESSAGING_SERVICE"/>
    <uses-permission android:name="android.permission.STOP_APP_SWITCHES"/>
    <application
        android:label="@string/phoneAppLabel"
        android:icon="@mipmap/ic_launcher_phone"
        android:name="PhoneApp"
        android:persistent="true"
        android:allowBackup="false"
        android:supportsRtl="true">
        <provider
            android:name="IccProvider"
            android:readPermission="android.permission.READ_CONTACTS"
            android:writePermission="android.permission.WRITE_CONTACTS"
            android:exported="true"
            android:multiprocess="true"
            android:authorities="icc"/>
        <activity
            android:theme="@style/EmergencyDialerTheme"
            android:label="@string/emergencyDialerIconLabel"
            android:name="EmergencyDialer"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.android.phone.EmergencyDialer.DIAL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.phone.EmergencyDialer.DIAL"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="tel"/>
            </intent-filter>
        </activity>
        <activity android:name="ADNList"/>
        <activity
            android:theme="@style/SimImportTheme"
            android:label="@string/simContacts_title"
            android:icon="@mipmap/ic_launcher_contacts"
            android:name="SimContacts"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/sim-contact"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="@string/fdnListLabel"
            android:name="com.android.phone.settings.fdn.FdnList">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/sim-contact"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/OutgoingCallBroadcasterTheme"
            android:name="OutgoingCallBroadcaster"
            android:permission="android.permission.CALL_PHONE"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:screenOrientation="nosensor"
            android:configChanges="screenSize|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.CALL"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="tel"/>
            </intent-filter>
            <intent-filter android:icon="@drawable/ic_launcher_sip_call">
                <action android:name="android.intent.action.CALL"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sip"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CALL"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="voicemail"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CALL"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/phone"/>
                <data android:mimeType="vnd.android.cursor.item/phone_v2"/>
                <data android:mimeType="vnd.android.cursor.item/person"/>
            </intent-filter>
        </activity>
        <activity-alias
            android:name="EmergencyOutgoingCallBroadcaster"
            android:permission="android.permission.CALL_PRIVILEGED"
            android:enabled="false"
            android:targetActivity="OutgoingCallBroadcaster">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.CALL_EMERGENCY"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="tel"/>
            </intent-filter>
            <intent-filter
                android:icon="@drawable/ic_launcher_sip_call"
                android:priority="1000">
                <action android:name="android.intent.action.CALL_EMERGENCY"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sip"/>
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.CALL_EMERGENCY"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="voicemail"/>
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.CALL_EMERGENCY"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/phone"/>
                <data android:mimeType="vnd.android.cursor.item/person"/>
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:name="PrivilegedOutgoingCallBroadcaster"
            android:permission="android.permission.CALL_PRIVILEGED"
            android:enabled="false"
            android:screenOrientation="nosensor"
            android:targetActivity="OutgoingCallBroadcaster">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.CALL_PRIVILEGED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="tel"/>
            </intent-filter>
            <intent-filter
                android:icon="@drawable/ic_launcher_sip_call"
                android:priority="1000">
                <action android:name="android.intent.action.CALL_PRIVILEGED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="sip"/>
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.CALL_PRIVILEGED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="voicemail"/>
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.CALL_PRIVILEGED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/phone"/>
                <data android:mimeType="vnd.android.cursor.item/phone_v2"/>
                <data android:mimeType="vnd.android.cursor.item/person"/>
            </intent-filter>
        </activity-alias>
        <receiver
            android:name="ProcessOutgoingCallTest"
            android:enabled="false"
            android:exported="false">
            <intent-filter android:priority="1">
                <action android:name="android.intent.action.NEW_OUTGOING_CALL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@android:style/Theme.NoDisplay"
            android:label="@string/phoneIconLabel"
            android:name="InCallScreenShowActivation"
            android:permission="android.permission.PERFORM_CDMA_PROVISIONING"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="com.android.phone.PERFORM_CDMA_PROVISIONING"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/SettingsLight"
            android:label="@string/settings_label"
            android:name="MobileNetworkSettings">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.settings.DATA_ROAMING_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity-alias
            android:name="Settings"
            android:targetActivity="MobileNetworkSettings"/>
        <service android:name="NetworkQueryService"/>
        <activity
            android:theme="@style/NetworkOperatorsSettingsTheme"
            android:label="@string/networks"
            android:name="NetworkSetting"
            android:configChanges="screenSize|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.settings.NETWORK_OPERATOR_SETTINGS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="@string/gsm_umts_options"
            android:name="GsmUmtsOptions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="@string/cdma_options"
            android:name="CdmaOptions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="@string/gsm_umts_options"
            android:name="GsmUmtsCallOptions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="@string/cdma_options"
            android:name="CdmaCallOptions">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/SettingsLight"
            android:label="@string/labelCF"
            android:name="GsmUmtsCallForwardOptions"
            android:configChanges="screenSize|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/SettingsLight"
            android:label="@string/labelGSMMore"
            android:name="GsmUmtsAdditionalCallOptions"
            android:configChanges="screenSize|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Holo.DialogWhenLarge"
            android:label="@string/cell_broadcast_sms"
            android:name="CellBroadcastSms">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="@string/fdn"
            android:name="com.android.phone.settings.fdn.FdnSetting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/SettingsLight"
            android:label="@string/enable_pin"
            android:name="EnableIccPinScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/SettingsLight"
            android:label="@string/change_pin"
            android:name="ChangeIccPinScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEVELOPMENT_PREFERENCE"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/SettingsLight"
            android:label="@string/get_pin2"
            android:name="com.android.phone.settings.fdn.GetPin2Screen"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:name="com.android.phone.settings.fdn.EditFdnContactScreen"
            android:windowSoftInputMode="stateVisible"/>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="@string/delete_fdn_contact"
            android:name="com.android.phone.settings.fdn.DeleteFdnContactScreen"/>
        <activity
            android:theme="@android:style/Theme.Holo.Dialog"
            android:label="@android:string/dialog_alert_title"
            android:name="DataRoamingReenable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@android:style/Theme.Holo.DialogWhenLarge"
            android:label="@string/roaming"
            android:name="RoamingSetting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="@string/call_settings"
            android:name="CallFeaturesSetting"
            android:configChanges="screenSize|orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.telecom.action.SHOW_CALL_SETTINGS"/>
                <action android:name="com.android.phone.CallFeaturesSetting.ADD_VOICEMAIL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <receiver
            android:name="OtaStartupReceiver"
            android:exported="false"
            androidprv:locale="true">
            <intent-filter android:priority="100">
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
        <service android:name="EmergencyCallbackModeService"/>
        <service android:name="TelephonyDebugService"/>
        <activity
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/ecm_exit_dialog"
            android:name="EmergencyCallbackModeExitDialog"
            android:excludeFromRecents="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="com.android.phone.action.ACTION_SHOW_ECM_EXIT_DIALOG"/>
                <action android:name="android.intent.action.ACTION_SHOW_NOTICE_ECM_BLOCK_OTHERS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <service
            android:name="com.android.services.telephony.sip.SipCallServiceProvider"
            android:singleUser="true">
            <intent-filter>
                <action android:name="android.telecom.CallServiceProvider"/>
            </intent-filter>
        </service>
        <service
            android:label="@string/sip_connection_service_label"
            android:name="com.android.services.telephony.sip.SipConnectionService"
            android:permission="android.permission.BIND_CONNECTION_SERVICE"
            android:singleUser="true">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService"/>
            </intent-filter>
        </service>
        <receiver android:name="com.android.services.telephony.sip.SipBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.sip.SIP_SERVICE_UP"/>
                <action android:name="com.android.phone.SIP_INCOMING_CALL"/>
                <action android:name="com.android.phone.SIP_REMOVE_PHONE"/>
                <action android:name="com.android.phone.SIP_CALL_OPTION_CHANGED"/>
            </intent-filter>
        </receiver>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="Sip Settings"
            android:name="com.android.services.telephony.sip.SipSettings"
            android:launchMode="singleTop"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:uiOptions="splitActionBarWhenNarrow"
            android:parentActivityName="com.android.phone.CallFeaturesSetting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.net.sip.NOTIFY"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:name="com.android.services.telephony.sip.SipEditor"
            android:configChanges="screenSize|orientation|keyboardHidden"
            android:uiOptions="splitActionBarWhenNarrow"/>
        <activity
            android:theme="@style/Empty"
            android:name="ErrorDialogActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/Empty"
            android:name="MMIDialogActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/Theme.Transparent"
            android:label="0x7f080289"
            android:name=".TextMessagePackageChooser"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/Empty"
            android:name="HfaActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:configChanges="screenSize|orientation|keyboardHidden"/>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="@string/phone_accounts"
            android:name="com.android.phone.settings.PhoneAccountSettingsActivity">
            <intent-filter>
                <action android:name="android.telecom.action.CHANGE_PHONE_ACCOUNTS"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:theme="@style/DialerSettingsLight"
            android:label="@string/voicemail"
            android:name="com.android.phone.settings.VoicemailSettingsActivity"/>
        <receiver
            android:name="PhoneGlobals$NotificationBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.android.phone.ACTION_HANG_UP_ONGOING_CALL"/>
                <action android:name="com.android.phone.ACTION_CALL_BACK_FROM_NOTIFICATION"/>
                <action android:name="com.android.phone.ACTION_SEND_SMS_FROM_NOTIFICATION"/>
            </intent-filter>
        </receiver>
        <service
            android:name="HfaService"
            android:exported="false"/>
        <service
            android:name="com.android.services.telephony.TelephonyCallServiceProvider"
            android:singleUser="true">
            <intent-filter>
                <action android:name="android.telecom.CallServiceProvider"/>
            </intent-filter>
        </service>
        <service
            android:label="@string/pstn_connection_service_label"
            android:name="com.android.services.telephony.TelephonyConnectionService"
            android:permission="android.permission.BIND_CONNECTION_SERVICE"
            android:singleUser="true">
            <intent-filter>
                <action android:name="android.telecom.ConnectionService"/>
            </intent-filter>
        </service>
        <provider
            android:name="PhoneSearchIndexablesProvider"
            android:permission="android.permission.READ_SEARCH_INDEXABLES"
            android:exported="true"
            android:multiprocess="false"
            android:authorities="com.android.phone"
            android:grantUriPermissions="true">
            <intent-filter>
                <action android:name="android.content.action.SEARCH_INDEXABLES_PROVIDER"/>
            </intent-filter>
        </provider>
    </application>
</manifest>
